# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.env
.venv
venv/
*.venv

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Poetry
poetry.lock

# token directory
/src/token_dir/

# settings vscode
/.vscode

# json draft + test samse

json_draft.json
samse_test.json
samse_draft.json
draft.json
rapport_final_etablissement.xlsx